<!DOCTYPE html>
<html lang="en">

<head>
  <link type="text/css" href="/assets/homepage.css.scss" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>

<body class="mainpage">
<h1>Welcome to WebParser.</h1>

  <div class="iphone_group">

    <p>
 	      1.<span>Iphone</span>  games:<br />
        <small>
            All data are taken from: <a href="http://xyo.net/iphone-games/?country=US">Iphone games from 'xoy.net'</a>.<br />    	 
          <%= link_to "WebParsing for Iphone games", igames_path, class: "btn-custom btn-small btn-primary"%>
          <%= link_to "Current Top 10 games for Iphone", iphones_path, class: "btn-custom btn-small btn-primary"%>
        </small>
    </p>

  </div>

<div class="android_group">

  <p>
      2.<span>Android</span>  games:<br />
      <small>
        All data are taken from: <a href="http://xyo.net/android-games/?country=US">Android games from 'xoy.net'</a>.<br />
        <%= link_to "WebParsing for Android games", andrgames_path, class: "btn-custom btn-small btn-primary"%> 
        <%= link_to "Current Top 10 games for Android", androids_path, class: "btn-custom btn-small btn-primary"%>
      </small>
  </p>
</div>

<div class="ipad_group">
  <p>
      3.<span>Ipad</span>  games:<br />
      <small>
        All data are taken from: <a href="http://xyo.net/ipad-games/?country=US">Ipad games from 'xoy.net'</a>.<br />
        <%= link_to "WebParsing for Ipad games", ipadgames_path, class: "btn-custom btn-small btn-primary"%>  
        <%= link_to "Current Top 10 games for Ipad", ipads_path, class: "btn-custom btn-small btn-primary"%>
      </small>
 	 
  </p>
</div>

<div class="windows_group">
  <p>
      4.<span>Windows phone </span>  games:<br />
      <small>
        All data are taken from: <a href="http://xyo.net/windows-phone-games/?country=US">Windows phone games from 'xoy.net'</a>.<br />
        <%= link_to "WebParsing for WindowsPhone games", wingames_path, class: "btn-custom btn-small btn-primary"%>
        <%= link_to "Current Top 10 games for WindowsPhone", windowsphones_path, class: "btn-custom btn-small btn-primary"%>
      </small>
  </p>
</div>

<div class="license">
<h6>All rigths reserved to Anton Romanov(c)</h6>
  <h3>
    <%= link_to "About WebParser",about_path, class: "btn-custom btn-small btn-primary" %>
  </h3>
</div>


<script src="http://code.jquery.com/jquery.js"></script>
<script>$('div').on('click', function() {
  $(this).toggleClass('show-description');
  });
</script>

</body>
</html>