<div class="center hero-unit">
  <h1>Welcome to WebParser!</h1>

<p>
 	<h4>1. Iphone games:</h4> 
    <a href="http://xyo.net/iphone-games/?country=US">Iphone games from 'xoy.net'</a>
    . If you want to proceed with getting information about just TOP 10 games for Iphone, please press '<strong>WebParsing for Iphone games</strong>...'
  	<p>
    	<%= link_to "WebParsing for Iphone games", igames_path, class: "btn btn-large btn-primary"%>
      </p><p> 
      <%= link_to "Current Top 10 games for Iphone", iphones_path, class: "btn btn-large btn-primary"%>
 	 </p>
</p>

<p>
	<h4>2. Android games:</h4> 
    <a href="http://xyo.net/android-games/?country=US">Android games from 'xoy.net'</a>
    . If you want to proceed with getting information about just TOP 10 games for Android, please press '<strong>WebParsing for Android games</strong>...'
  	<p>
    	<%= link_to "WebParsing for Android games", andrgames_path, class: "btn btn-large btn-primary"%>
     </p><p> 
      <%= link_to "Current Top 10 games for Android", androids_path, class: "btn btn-large btn-primary"%>
 	 </p>
</p>

<p>
	<h4>3. Ipad games:</h4> 
    <a href="http://xyo.net/ipad-games/?country=US">Ipad games from 'xoy.net'</a>
    . If you want to proceed with getting information about just TOP 10 games for Ipad, please press '<strong>WebParsing for Ipad games</strong>...'
  	<p>
    	<%= link_to "WebParsing for Ipad games", ipadgames_path, class: "btn btn-large btn-primary"%>
      </p><p> 
      <%= link_to "Current Top 10 games for Ipad", ipads_path, class: "btn btn-large btn-primary"%>
 	 </p>
</p>

<p>
	<h4>4. Windows phone games:</h4> 
    <a href="http://xyo.net/windows-phone-games/?country=US">Windows phone games from 'xoy.net'</a>
    . If you want to proceed with getting information about just TOP 10 games for Windows phone, please press '<strong>WebParsing for Windows phone games</strong>...'
  	<p>
    	<%= link_to "WebParsing for WindowsPhone games", wingames_path, class: "btn btn-large btn-primary"%>
      </p><p> 
      <%= link_to "Current Top 10 games for WindowsPhone", windowsphones_path, class: "btn btn-large btn-primary"%>
 	 </p>
</p>

</div>

<h6>All rigths reserved to Anton Romanov(c)</h6>
<p>

<%= link_to "About WebParser",about_path, class: "btn btn-large btn-primary" %>
</p>