<p>
  <strong>Rank:</strong>
  <%= @ipad.rank %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ipad.title %>
</p>
 
<p>
  <strong>Downloads:</strong>
  <%= @ipad.downloads %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ipad.price %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @ipad.comments %>
</p>

<p>
<%= link_to "Back to the HomePage", home_path, class: "btn btn-large btn-primary" %>
</p>
<p>
<%= link_to "Back to WebParser for Iphone_games", ipadgames_path, class: "btn btn-large btn-primary" %>
</p>