<p>
  <strong>Rank:</strong>
  <%= @windowsphone.rank %>
</p>

<p>
  <strong>Title:</strong>
  <%= @windowsphone.title %>
</p>
 
<p>
  <strong>Downloads:</strong>
  <%= @windowsphone.downloads %>
</p>

<p>
  <strong>Price:</strong>
  <%= @windowsphone.price %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @windowsphone.comments %>
</p>

<p>
<%= link_to "Back to the HomePage", home_path, class: "btn btn-large btn-primary" %>
</p>
<p>
<%= link_to "Back to WebParser for WindowsPhone games", wingames_path, class: "btn btn-large btn-primary" %>
</p>