<p>
  <strong>Rank:</strong>
  <%= @iphone.rank %>
</p>

<p>
  <strong>Title:</strong>
  <%= @iphone.title %>
</p>
 
<p>
  <strong>Downloads:</strong>
  <%= @iphone.downloads %>
</p>

<p>
  <strong>Price:</strong>
  <%= @iphone.price %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @iphone.comments %>
</p>

<p>
<%= link_to "Back to the HomePage", home_path, class: "btn btn-large btn-primary" %>
</p>
<p>
<%= link_to "Back to WebParser for Iphone_games", igames_path, class: "btn btn-large btn-primary" %>
</p>