<p>
  <strong>Rank:</strong>
  <%= @android.rank %>
</p>

<p>
  <strong>Title:</strong>
  <%= @android.title %>
</p>
 
<p>
  <strong>Downloads:</strong>
  <%= @android.downloads %>
</p>

<p>
  <strong>Price:</strong>
  <%= @android.price %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @android.comments %>
</p>

<p>
<%= link_to "Back to the HomePage", home_path, class: "btn btn-large btn-primary" %>
</p>
<p>
<%= link_to "Back to WebParser for Iphone_games", andrgames_path, class: "btn btn-large btn-primary" %>
</p>